/.deps/
/lib/
/libs/
/.crystal/
/doc/
/examples/
/.work/
.shards


# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/.deps.lock


# Vim swap files
*.swp
*.swn
*.swo
session.vis

# Others
.DS_Store
CLAUDE.md
.cursor
.vscode
*.tmp
*.log
shard.lock
